@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color1: 74, 201, 89;
  --theme-color2: 232, 141, 57;
}

.swiper {
  padding-bottom: 70px !important;
}
.swiper-slide {
  height: auto !important;
}
.swiper .swiper-pagination-bullet {
  width: 29px;
  height: 29px;
  background: rgb(var(--theme-color1));
}
@media(max-width: 768px) {
  .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
